<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    </head>
    <body>
        <form id="form-one" {{action "submitData" on="submit"}}>
            <div class="sections">
                <div class="section-body">
                    <div class="error-message-div">
                        <center>
                                {{#if errorMessage}}
                                 <span class="" id="error-message">
                                    {{PopulateErrorMessage}}
                                </span>   
                                {{/if}}
                        </center>
                    </div>
                </div>
            <div class="container">
                <div class="section-left">
                    <div class="menu-item">
                        <i class="fa fa-dashboard"></i>
                        <a href="#">Report</a>
                    </div>

                    <div class="menu-item">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <a href="#">New Camp</a>
                    </div>
                    <div class="menu-item">
                          <i class="fa fa-edit" aria-hidden="true"></i>
                        <a href="#">Edit Stock</a>
                    </div>
                    <div class="menu-item">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        <a href="#">View Camps</a>
                    </div>
                    <div class="menu-item">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <a href="#">Sign out</a>
                    </div>
                </div>
                <div class="form-container">
                    <div class="form-title">
                        <span>Register a camp</span>
                        <i class="fa fa-hospital-o"></i>
                    </div>
                    
                    <div class="form-field half-field">
                        <div class="form-field-label">
                            <span>City</span>
                        </div>
                        
                        <div class="form-field-value">
                            <select  id="test-select"  onchange={{action "updateCity" value="target.value"}}>
                                <option>--</option>
                                    {{#each model as |city| }}
                                        <option value={{city.id}}> {{city.name}}</option>
                                    {{/each}}
                            </select>
                        </div>
                    </div>  

                    <div class="form-field half-field">
                        <div class="form-field-label">
                            <span>Stock</span>
                        </div>
                        <div class="form-field-value">
                            {{input type="text" required="true" value=stock}}
                        </div>
                    </div> 

                    <div class="form-field full-field">
                        <div class="form-field-label">
                            <span>Camp Address</span>
                        </div>
                        <div class="form-field-value">
                            {{textarea type="text" placeholder="Enter Address" required="true" value=address}}
                        </div>
                    </div>  

                     <div class="form-body-footer">
                            <center>
                                <button class="primary-button">Submit</button>
                                <button class="secondary-button" {{action "clearData"}}>Cancel</button>
                            </center> 
                     </div> 

                </div>

                

            </div>

        </div>
        </form>
        <script>
            $(document).ready(function() {
                $(document).on('mouseover', '#test-select', function() {
                    $('#test-select').select2();
                    var x = document.getElementById('test-select');
                    x.style.background="red";
                });
            });
        </script>
    </body>
</html>
{{outlet}}
